@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    font-family: Poppins;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a,a:hover{
    color:white;
    text-decoration: none;
}
h1{
    color:white;
    text-transform: uppercase;
}
.navbar{
    background:rgb(22, 22, 22);
}
.navbar-brand{
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.4rem;
}
.nav-link{
    text-transform: uppercase;
    font-weight: 500;
    color:white;
}

span{
    color:orange;
}
.carousel-control-prev,.carousel-control-next{
    margin:-50px;
}
.carousel-item{
    margin-top:59px;
    height:60vh;
}
.main-desc{
    margin:100px;
    color:white;
    text-transform: uppercase;
}
.main-desc h1{
    font-weight: 500;
    letter-spacing: 7px;
}
.main-desc p{
    color:orange;
    letter-spacing: 4px;
}
.mainbtn{
    letter-spacing: 1px;
    border:1px solid white;
    border-radius: 10px;
    padding:5px 10px;
    background:transparent;
}
.mainbtn:hover{
    background: white;
    color:black;
}
.recommended{
    height: 70vh;
    background-color: pink;
}
.rec{
    border: 1px solid red;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rec img{
    height: 50vh;
    border-radius: 15px;
}
.rec h1,p{
    text-align: center;
}